.body{
    opacity: inherit;       
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 30px;
    height: 40%;
    /*background-size: contain;*/
    background-image: url("b5c1f91f-ef20-4ba6-a9e4-4a8fc41253d0.JPG");

/*background-image: url(https://images.unsplash.com/photo-1544847558-3ccacb31ee7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);*/
}

.info{

background-color: rgba(0,0.0.95);
font-style: italic;
color: black;
padding: 10px;
margin-left: 55%;
font-size: 13px;
text-align: start;

/*text-shadow:2px 2px 5px rgb(185, 185, 248);*/

}
.lk{
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;

}
.lk a{
padding: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
}
.conclusion{
    background-color: violet;
    

}

