body{
    background-image: url(https://github.com/mbeatrice1/project1/blob/develop/b5c1f91f-ef20-4ba6-a9e4-4a8fc41253d0.JPG?raw=true); 
    background-repeat:  no-repeat;
    background-size: cover;

}
.info{

    
    font-style: italic;
    color: black;
    padding: 10px;
    margin-left: 55%;
    font-size: 13px;
    text-align: start;
    
    /*text-shadow:2px 2px 5px rgb(185, 185, 248);*/
    
    }
    .lk{
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    margin: -10px;
    padding: 0px;
    
    }
    .lk a:hover{
    
    background-color: khaki;
    }
    .lk a{
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    }
    .flex-container{
   
    display: flex;
    flex-direction: row;
    background-color: darkslategray;
    justify-content: space-between;
    align-content: center;
    margin-inline-start: 700px;
    padding: 5px;
    }
    

    .abt{
        font-style: italic;
        font-size-adjust: 20px;
        text-align: center;
    }
    main{
        display: flex;
        justify-content: space-around;
    }
   
    
#l{
        text-align: center;
        font-style: italic;
        font-size: 19px;
        background-color: darkolivegreen;
        margin-inline-start: 900px;
        padding-block-start: 3px;

    }
    
  
  
            
           
    




